.paint-canvas{
    border: 4px solid black;
    display: block;
    margin: 20px auto; 
    background-color: white;

}

.color-picker{
    margin: 20px 20px 0px 20px;
}
body{
    background-image: url(https://image.freepik.com/free-vector/pastel-oil-painting-canvas-background_53876-93729.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}